# Data Frames - Constructor
Data frame стоит представлять как таблицу

In [1]:
import pandas as pd

#### Создание DataFreme

In [2]:
animals_df = pd.DataFrame({
    "kind": ["bird", "cattle", "fish"],
    "product": ["egg", "meat", "fat"],
    "productivity": [150.5, 44.7, 51.3]
})
animals_df

     kind product  productivity
0    bird     egg         150.5
1  cattle    meat          44.7
2    fish     fat          51.3

#### Явное индексирование

In [3]:
animals_df2 = pd.DataFrame({
    "kind": ["bird", "cattle", "fish"],
    "product": ["egg", "meat", "fat"],
    "productivity": [150.5, 44.7, 51.3]
}, index = ["b", "c", "f"])
animals_df2

     kind product  productivity
b    bird     egg         150.5
c  cattle    meat          44.7
f    fish     fat          51.3

In [4]:
animals_df3 = pd.DataFrame({
    "kind": ["bird", "cattle", "fish"],
    "product": ["egg", "meat", "fat"],
    "productivity": [150.5, 44.7, 51.3]
})
animals_df3.index = ["one", "two", "free"]
animals_df3

        kind product  productivity
one     bird     egg         150.5
two   cattle    meat          44.7
free    fish     fat          51.3

#### Выборка значений из DataFrame

В начале индекс колонки - затем индекс строки

In [6]:
animals_df3["product"]["one"]

'egg'

In [7]:
animals_df3.productivity["two"]

44.7

In [8]:
animals_df3.kind.free

'fish'

In [11]:
animals_df3.at["one", "product"]

'egg'

In [14]:
animals_df3.iat[2, 1]

'fat'

#### Выборка строки

In [15]:
animals_df3.loc["free"]

kind            fish
product          fat
productivity    51.3
Name: free, dtype: object

In [16]:
animals_df3.iloc[2]

kind            fish
product          fat
productivity    51.3
Name: free, dtype: object

In [17]:
animals_df3.iloc[2, 0]

'fish'

#### Выборка названий колонок

In [20]:
animals_df3.columns

Index(['kind', 'product', 'productivity'], dtype='object')