In [1]:
import pandas as pd

In [2]:
feed_df = pd.read_csv("sega games.csv")
feed_df

                                     name  downloaded  passed rating
0                Ultimate Mortal Kombat 3       False   False    NaN
1                              Comix Zone       False   False    NaN
2                              Chuck Rock       False   False    NaN
3                           Earthworm Jim       False   False    NaN
4                         Earthworm Jim 2       False   False    NaN
..                                    ...         ...     ...    ...
111                           Marsupilami       False   False    NaN
112  Might and Magic III - Isles of Terra       False   False    NaN
113                         King's Bounty       False   False    NaN
114                  Addams Family Values       False   False    NaN
115           Mary Shelley's Frankenstein       False   False    NaN

[116 rows x 4 columns]

#### Отображение головы dataFrame

In [3]:
feed_df.head(7)

,name,downloaded,passed,rating
0,Ultimate Mortal Kombat 3,False,False,NaN
1,Comix Zone,False,False,NaN
2,Chuck Rock,False,False,NaN
3,Earthworm Jim,False,False,NaN
4,Earthworm Jim 2,False,False,NaN
5,Teenage Mutant Ninja Turtles - The Hyperstone ...,True,False,Best
6,Contra - Hard Corps,False,False,NaN

#### Отображение хвоста

In [4]:
feed_df.tail(12)

                                        name  downloaded  passed rating
104                                  Bonkers       False   False    NaN
105              Mickey's Ultimate Challenge        True   False   Good
106            Ferias Frustradas do Pica-Pau       False   False    NaN
107  Spider-Man and X-Men - Arcade's Revenge       False   False    NaN
108                                 ECCO Jr.       False   False    NaN
109                                Tick, The       False   False    NaN
110                              Primal Rage       False   False    NaN
111                              Marsupilami       False   False    NaN
112     Might and Magic III - Isles of Terra       False   False    NaN
113                            King's Bounty       False   False    NaN
114                     Addams Family Values       False   False    NaN
115              Mary Shelley's Frankenstein       False   False    NaN

#### Количество строк

In [5]:
len(feed_df)

116

#### Количество строк и колонок

In [6]:
feed_df.shape

(116, 4)

#### Информация о dataFrame

In [7]:
feed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        116 non-null    object
 1   downloaded  116 non-null    bool
 2   passed      116 non-null    bool
 3   rating      5 non-null      object
dtypes: bool(2), object(2)
memory usage: 2.2+ KB

In [8]:
feed_df[feed_df["downloaded"] == True]

,name,downloaded,passed,rating
5,Teenage Mutant Ninja Turtles - The Hyperstone ...,True,False,Best
12,Boogerman,True,True,Best
20,Teenage Mutant Ninja Turtles - Tournament Figh...,True,False,Bad
30,Mortal Kombat,True,False,Good
105,Mickey's Ultimate Challenge,True,False,Good

#### Статистическая сводка

In [9]:
feed_comby_df = pd.read_csv("feeding.txt", names=["id", "kind", "minimum", "maximum"])
print(feed_comby_df)

   id     kind  minimum  maximum
0   1  Перепел       40       50
1   2   Курица      120      140
2   3   Кролик      140      250

In [10]:
feed_comby_df.describe()

        id     minimum     maximum
count  3.0    3.000000    3.000000
mean   2.0  100.000000  146.666667
std    1.0   52.915026  100.166528
min    1.0   40.000000   50.000000
25%    1.5   80.000000   95.000000
50%    2.0  120.000000  140.000000
75%    2.5  130.000000  195.000000
max    3.0  140.000000  250.000000

#### Выборка по уникальных значений

In [11]:
feed_df.rating.unique()

array([nan, 'Best', 'Bad', 'Good'], dtype=object)

#### Количество уникальных значений

In [12]:
feed_df.name.unique().size

116

#### Индексы и колонки

In [13]:
feed_df.index

RangeIndex(start=0, stop=116, step=1)

In [14]:
feed_df.columns

Index(['name', 'downloaded', 'passed', 'rating'], dtype='object')

#### Подсчет, группировка и сортировка

In [17]:
feed_df.downloaded.value_counts(normalize=True)

False    0.956897
True     0.043103
Name: downloaded, dtype: float64

In [19]:
feed_df.rating.value_counts(normalize=False)

Best    2
Good    2
Bad     1
Name: rating, dtype: int64